html{
    font-size:20px;
    margin:0;
    padding:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    line-height:1.5;
    max-width:1200px;
    margin:0 auto;
    margin-bottom:1.5em;
    border:4px solid darkkhaki;
}

header{
    background-color:darkkhaki;
    width:100%;
}

p{
    text-align:center;
    font-size:1.2rem;
    font-weight:bold;
    
}
footer{
    display:flex;
    gap:1.5rem;
    text-align:center;
    background-color:darkkhaki;
    justify-content: center;
    font-style:italic;
    font-weight:bold;
    font-size:1rem;
}

input[type="text"]{
    display:block;
    margin:0 auto;
    margin-bottom:1rem;
    padding:0.5rem;
    font-size:1rem;
    width:100%;
    max-width:400px;
}
table{
    width:100%;
    max-width:900px;
    margin: 0 auto;
    border-collapse:collapse;
    margin-bottom:1rem;
}

table, th, td{
    border:1px solid black;
}
 
th, td{
    padding:1rem;
}

.table-section{
    overflow-x:auto;
}
#courseCode, #courseName, #courseProgress{
    cursor: pointer;
}

#courseCode:hover, #courseName:hover, #courseProgress:hover{
    color:darkkhaki;
}
h1{
    text-align:center;
    font-weight:bold;
}

h2{
    text-align:center;
    text-decoration:overline underline;
}
@media (max-width:649px){
    html{
        font-size:16px;
    }
}
@media (max-width:450px){
    footer{
        gap:0.7rem;
        font-size:0.9rem;
    }
    
}