html{
    font-size:20px;
    margin:0;
    padding:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    line-height:1.5;
    max-width:1200px;
    margin:0 auto;
    margin-bottom:1.5em;
    border:4px solid darkkhaki;
}

header{
    background-color:darkkhaki;
    width:100%;
}

footer{
    display:flex;
    gap:1.5rem;
    text-align:center;
    background-color:darkkhaki;
    justify-content: center;
    font-style:italic;
    font-weight:bold;
    font-size:1rem;
}
/*navigering*/
nav a{
    text-decoration:none;
    display:inline-block;
    padding:0.3rem;
    color:black;
    font-style: italic;
}
nav ul{
    list-style: none;
    display:flex;
    gap:2rem;
    font-size:1.5rem;
    margin:1rem 0;
    padding:1rem;
    font-weight:bold;
    justify-content: space-evenly;
}

nav a:hover{
    color:white;
    background-color:rgb(136, 132, 77);
    border-radius:20px;
}

h1{
    text-align:center;
    font-weight:bold;
}

h2{
    text-align:center;
    text-decoration:overline underline;
}
.description-text{
    max-width:800px;
    margin:0 auto;
}

.description-text li{
    margin-bottom:1rem;
}
.images{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:1rem;
    justify-content:center;
}

.images img{
height:auto;
width:100%;
display:block;
max-width:500px;
margin: 0 auto;
}

@media (max-width:649px){
    html{
        font-size:16px;
    }
    .images{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .images img{
        max-width:300px;
    }
    nav ul{
        gap:0.6rem;
    }
    .description-text{
        margin:0 1rem 0 1rem;
    }
}
@media (max-width:450px){
    nav ul{
        font-size:1.3rem;
    }
    footer{
        gap:0.7rem;
        font-size:0.9rem;
    }
    
}